In [1]:
# import modules
import pandas as pd
import numpy as np
import plotly

In [2]:
# if plotly isn't installed
# pip install plotly
# or
# conda install -c plotly plotly

In [22]:
# load the data from excel sheet
df = pd.read_excel('data.xlsx')
df = df.drop('Unnamed: 0', axis=1)
df.head()

,Surname,Name,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary
0,Bold,Caroline,63,Female,United States,White,2012-07-02,Executive Office,President & CEO,166400.0
1,Zamora,Jennifer,38,Female,United States,White,2010-04-10,IT/IS,CIO,135200.0
2,Houlihan,Debra,51,Female,United States,White,2014-05-05,Sales,Director of Sales,124800.0
3,Bramante,Elisa,34,Female,United States,Black or African American,2009-01-05,Production,Director of Operations,124800.0
4,Del Bosque,Keyla,38,Female,United States,Black or African American,2012-01-09,Software Engineering,Software Engineer,118809.6

### Needed Columns
- Salary 
- Nationality
- Gender
- Ethnicity 
- Department
- Age
- Time of being tenured
 - current date
 - tenue data
- Position

In [24]:
# drop unneeded rows
unneeded_rows = ['Surname', 'Name']
df = df.drop(unneeded_rows, axis=1)
df.head()

,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary
0,63,Female,United States,White,2012-07-02,Executive Office,President & CEO,166400.0
1,38,Female,United States,White,2010-04-10,IT/IS,CIO,135200.0
2,51,Female,United States,White,2014-05-05,Sales,Director of Sales,124800.0
3,34,Female,United States,Black or African American,2009-01-05,Production,Director of Operations,124800.0
4,38,Female,United States,Black or African American,2012-01-09,Software Engineering,Software Engineer,118809.6

### Construct ethnicity column

In [27]:
# show all the values of Ethnicity column
df.Ethnicity.unique()

array(['White', 'Black or African American', 'Asian', 'Two or more races',
       'Hispanic'], dtype=object)

In [32]:
# construct the ethnicity column
df.Ethnicity = df.Ethnicity.apply(lambda x: x if x=='White' else 'Other')
df.head()

,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary
0,63,Female,United States,White,2012-07-02,Executive Office,President & CEO,166400.0
1,38,Female,United States,White,2010-04-10,IT/IS,CIO,135200.0
2,51,Female,United States,White,2014-05-05,Sales,Director of Sales,124800.0
3,34,Female,United States,Other,2009-01-05,Production,Director of Operations,124800.0
4,38,Female,United States,Other,2012-01-09,Software Engineering,Software Engineer,118809.6